body {
	margin: 0;
	font-family: "Arial", sans-serif;
}

.navbar {
	background-color: #333;
	color: white;
	padding: 15px;
	display: block;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.navbar__logo {
	font-size: 1.5em;
	font-weight: bold;
}

.navbar__menu {
	list-style-type: none;
	display: flex;
	gap: 20px;
}

.navbar__item {
	cursor: pointer;
}

.navbar__link {
	color: white;
	text-decoration: none;
}

.navbar__button {
	background: none;
	border: none;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
	display: none;
}

/* Estilos para el menú desplegable en dispositivos móviles */
.navbar--open .navbar__menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #333;
	border: 1px solid #444;
}

@media (max-width: 768px) {
	.navbar__menu {
		display: none;
	}

	.navbar__button {
		display: block;
	}
}
